{block title}
{if isSet($factory)}
    Úprava výrobny {$factory->kratky_nazev}
{else}
    Registrace nové výrobny
{/if}
{/block}
{block description}Editor výrobny.{/block}
{block content}
    {* Formulář pro editaci. *}
    {control editorForm}
{/block}