{*
**	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
**	Datum: 5.12.2021
**	Autor: Dalibor Čásek, xcasek01
*}

{block title}
{if isSet($factory)}
    Úprava výrobny {$factory->kratky_nazev}
{else}
    Registrace nové výrobny
{/if}
{/block}
{block description}Editor výrobny.{/block}
{block content}
<a class="btn-action" n:href="default"><i class="far fa-arrow-alt-circle-left"></i> Zrušit a vrátit se</a>
    {* Formulář pro editaci. *}
    {control editorForm}
{/block}