{block title}Výpis výroben{/block}
{block description}Výpis všech výroben.{/block}
{block content}
<table>
    <tr n:foreach="$factories as $factoryFe">
        <td>
            <h2><a n:href="Factory: $factoryFe->id">{$factoryFe->kratky_nazev}</a></h2>
            <br>
            <a n:href="editor $factoryFe->id">Editovat</a>
            <a n:href="remove $factoryFe->id">Odstranit</a>
        </td>
    </tr>
</table>