#
#   Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
#   Datum: 5.12.2021
#   Autor: Kristián Heřman, xherma33
#

#
# Konfigurační soubor pro CoreModule.
#
parameters:
    defaultCompanyRut: '123456789' # URL výhozího článku
    defaultUserId: '1'
    defaultRequestId: '1'
    defaultReportId: '1'
    defaultFactoryId: '1'
    contactEmail: 'kristianherman@seznam.cz' # Kontaktní email



# Nastavení služeb pro CoreModule.
services:
    - App\CoreModule\Model\CompanyManager # Vlastní služba dále přístupná pomocí DI.
    - App\CoreModule\Model\UserManager
    - App\CoreModule\Model\RequestManager
    - App\CoreModule\Model\ReportManager
    - App\CoreModule\Model\FactoryManager

    - App\CoreModule\Presenters\CompanyPresenter(%defaultCompanyRut%) # Předání nastavení při vytváření služby presenteru.
    - App\CoreModule\Presenters\UserPresenter(%defaultUserId%)
    - App\CoreModule\Presenters\RequestPresenter(%defaultRequestId%)
    - App\CoreModule\Presenters\ReportPresenter(%defaultRequestId%)
    - App\CoreModule\Presenters\FactoryPresenter(%defaultRequestId%)