#
# Konfigurační soubor pro CoreModule.
#
parameters:
    defaultArticleUrl: 'uvod' # URL výhozího článku
    contactEmail: 'admin@localhost.cz' # Kontaktní email



# Nastavení služeb pro CoreModule.
services:
    - App\CoreModule\Model\ArticleManager # Vlastní služba dále přístupná pomocí DI.
    - App\CoreModule\Presenters\ArticlePresenter(%defaultArticleUrl%) # Předání nastavení při vytváření služby presenteru.
    - App\CoreModule\Presenters\ContactPresenter(%contactEmail%)