#
# Konfigurační soubor pro CoreModule.
#
parameters:
    defaultCompanyRut: '123456789' # URL výhozího článku
    contactEmail: 'kristianherman@seznam.cz' # Kontaktní email



# Nastavení služeb pro CoreModule.
services:
    - App\CoreModule\Model\CompanyManager # Vlastní služba dále přístupná pomocí DI.
    - App\CoreModule\Presenters\CompanyPresenter(%defaultCompanyRut%) # Předání nastavení při vytváření služby presenteru.
    - App\CoreModule\Presenters\ContactPresenter(%contactEmail%)