{*
**	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
**	Datum: 5.12.2021
**	Autor: Kristián Heřman, xherma33
*}

{block title}Přihlášení do Portálu OTE, a.s.{/block}
{block content}

{include bootstrap-form signInForm}

<p>Nemáte zatím přístup do Portálu OTE, a.s.? Přečtěte si, <a href="https://www.ote-cr.cz/cs/poze/registrace/registrace-vyrobce">jak začít</a>.</p>
