{*
**	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
**	Datum: 5.12.2021
**	Autor: Kristián Heřman, xherma33
*}

{block title}Odhlášení{/block title}
{block content}
<p><a n:href="in">&laquo; Zpět na přihlášení</a></p>
