{*
**	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
**	Datum: 5.12.2021
**	Autor: Kristián Heřman, xherma33
*}

{block title}Odhlášení{/block title}
{block content}
<div class="alert alert-success" role="alert">
  Byl jste úspěšně odhlášen!
</div>
<p><a n:href="in">Opět se přihlásit</a></p>
