{*
**	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
**	Datum: 5.12.2021
**	Autor: Kristián Heřman, xherma33
**	Autor: Dalibor Čásek, xcasek01
**	Autor: Petr Junák, xjunak01
*}

{block content}
<h1 n:block=title>Method Not Allowed</h1>

<p>The requested method is not allowed for the URL.</p>

<p><small>error 405</small></p>
