{block title}Výpis uživatelů{/block}
{block description}Výpis všech uživatelů.{/block}
{block content}
<table>
    <tr n:foreach="$requests as $requestFe">
        <td>
            <h2><a n:href="Request: $requestFe->id">{$requestFe->predmet}</a></h2>
            <br>
            <a n:href="editor $requestFe->id">Editovat</a>
            <a n:href="remove $requestFe->id">Odstranit</a>
        </td>
    </tr>
</table>