{*
**	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
**	Datum: 5.12.2021
**	Autor: Kristián Heřman, xherma33
*}

{block title}Odpovědět na požadavek{/block}
{block description}Odpověď na požadavek.{/block}
{block content}
    {* Formulář pro editaci. *}
    {control editorForm}
{/block}