{block title}Administrace webu{/block}
{block description}Administrace webu.{/block}
{block content}
<p>Vítejte v administraci!</p>
<h2><a n:href=Company:editor>Přidat článek</a></h2>
<h2><a n:href=Company:list>Seznam článků</a></h2>