{block title}Administrace webu{/block}
{block description}Administrace webu.{/block}
{block content}
<p>Vítejte v administraci!</p>
<h2><a n:href=Company:editor>Přidat firmu</a></h2>
<h2><a n:href=Company:list>Seznam firem</a></h2>

<h2><a n:href=User:editor>Přidat osobu</a></h2>
<h2><a n:href=User:list>Seznam osob</a></h2>