{block title}Vaše firmy{/block}
{block content}   
    <table>
        <tr>
            <th>Název</th>
            <th>RÚT ID</th>
            <th>IČO</th>
        </tr>
        <tr n:foreach="$companies as $company">
            <td><h4><a n:href="Company: $company->rut_id">{$company->nazev}</a></h4></td>
            <td>{$company->rut_id}</td>
            <td>{$company->ic}</td>
        </tr>
    </table>
{/block}
