/*
//	Projekt do předmětu ITU - Zákaznický portál OTE, a.s.
//	Datum: 5.12.2021
//	Autor: Kristián Heřman, xherma33
//	Autor: Dalibor Čásek, xcasek01
//	Autor: Petr Junák, xjunak01
*/

:root
{
    --form-padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

#main-content
{
    min-height: calc(100vh - 38px);
}

.right-side a
{
    color:#3ABEC9;
}

h1 {
    color: #444444;
    margin-bottom: 1em;
    word-break: break-all;
}

h3
{
    margin-top: 30px;
}

article {
}

nav ul {
    list-style-type: none;
}

ul.navbar-nav.mr-auto
{
    padding-left: 0;
}

nav.navbar-collapse.collapse
{
    background-color: #1A3873;
    width: 1200px;
    margin: 0 auto;
}

nav li.nav-item
{
    padding: 1em 0;
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 0 1em
}

nav a:hover,
nav a.active
{
    color: #fff;
    background-color: #43b9c2;
    text-decoration: none;
}

input[type="submit"],
button[type="submit"]
{
    background: #1A3873;
    color: white;
    padding: 5px 10px;
    border: 0;
    font-weight: normal;
}

input[type="submit"]:hover,
button[type="submit"]:hover
{
    background: #43b9c2;
    color: #EEEEEE;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="number"], input[type="date"],
input[type="datetime"]
{
    width: 250px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    padding: 0.3em;
}

input[type="submit"]#login-submit
{
    border-radius: 0;
}

input[type="submit"]:not#login-submit
{
    width: 100%;
}

input[type="submit"],
button[type="submit"]
{
    padding: 10px 35px;
    display: block;
}

textarea {
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    width: 483px;
    height: 90px;
}

.message {
    border: 1px solid #9DC2F8;
    background: #DBE8F8;
    padding: 3px;
}

label.required:after {
    display: inline-block;
    content: '*';
    color: red;
    margin-left: 3px;
}

header.main-header
{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

header .logo,
header .description
{
    display: inline-block;
}

header .logo img
{
    width: 200px;
    height: auto;
}

header .description
{
    font-size: 1.5em;
    color: #444;
}

header .right-side
{
    display: flex;
    align-items: center;
}

header .inline-item
{
    margin-left: 1em;
}

header .inline-item:not(:last-child)
{
    margin-right: 1em;
}

td, th
{
    padding-right: 16px;
}

.btn-bar
{
    margin: 1em 0;
}

.btn-action {
    color: white;
    background-color: #1A3873;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.btn-action:hover,
.btn-action:focus
{
    color: white;
    background-color: #43b9c2;
    text-decoration: none;
}

.button1 {
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    font-weight: bold;
    width: 23%;
    color: #1A3873;
    background-color: #d6d6d6;
    padding: 30px;
    /*margin-top: 30px;
    margin-bottom: 30px;*/
    margin: 30px 13px;
    display: inline-block;
    border: 2px groove #a1a1a1;
    border-radius: 12px;
    transition: 0.2s;
}

.button1.zde-poprve
{
    background-color: #EFB402;
    color: #333;
}

.zde-poprve
{
    display: inline-block;
    vertical-align: top;
}

.button1:first-child
{
    margin-left: 0;
}

.button1:last-child
{
    margin-right: 0;
}

.button1:hover,
.button1:focus
{
    color: white;
    background-color: #43b9c2;
    text-decoration: none;
}

input:disabled, 
textarea:read-only,
[contenteditable]:read-only {
  pointer-events: none;
  background-color: #EBEBE4 !important;
  color: #444;
}

.default-output td
{
    padding-bottom: 0.5em;
}

footer
{
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    background-color: #ddd;
    margin-top: 1em;
}

footer p
{
    margin-bottom: 0;
}

table .btn-action
{
    margin-top: 0;
    margin-bottom: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    vertical-align: baseline;
}

form th,
form td
{
    padding-top: var(--form-padding);
}

table.list-item label,
table.list-item input
{
    margin-top: var(--form-padding);
}

form fieldset
{
    margin-bottom: 1em;
}

hr
{
    margin-top: 0;
    margin-bottom: 10px;
}

input.filter-input
{
    width: 400px;
}

.fontsearch {
    position: relative;
}
  
.fontsearch i{
    position: absolute;
    left: 15px;
    bottom: 17px;
    color: gray;
}

input[type=text].filter-input
{ 
    padding: 12px 40px; 
    margin: 8px 0; 
} 

.lista-nad-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert
{
    margin-top: 10px;
}

.textarea-div td
{
    vertical-align: top;
}

.scrolling-div
{
  width: 800px;
  height: auto;
  margin-top: 10px;
  background-color: #EBEBE4;
  padding: 0.3em;
  text-align: justify;
  border-radius: 5px;
  border: 1px solid #aaa;
}

select
{
    padding: 12px 7px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #fff;
}

.jednotky
{
    font-weight: bold;
}