body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

h1 {
    color: #444444;
    margin-bottom: 1em;
}

article {
}

nav ul {
    list-style-type: none;
}

/*
nav li {
    float: left;
    margin-right: 15px;
}
*/

ul.navbar-nav.mr-auto
{
    padding-left: 0;
}

nav.navbar-collapse.collapse
{
    background-color: #1A3873;
    width: 1200px;
    margin: 0 auto;
}

nav li.nav-item
{
    padding: 1em 0;
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    border: none;
    padding: 0 1em
}

nav a:hover {
    color: #fff;
    background-color: #43b9c2;
    text-decoration: none;
}

input[type="submit"] {
    background: #1A3873;
    color: white;
    padding: 5px 10px;
    border: 0;
}

input[type="submit"]:hover {
    background: #43b9c2;
    color: #EEEEEE;
    cursor: pointer;
}

input[type="text"], input[type="email"], input[type="url"],
input[type="password"], input[type="number"], input[type="date"],
input[type="datetime"]
{
    width: 250px;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    padding: 0.3em;
}

input[type="submit"] {
    padding: 10px 25px;
    display: block;
    font-weight: bold;
}

textarea {
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    width: 483px;
    height: 90px;
}

.message {
    border: 1px solid #9DC2F8;
    background: #DBE8F8;
    padding: 3px;
}

label.required:after {
    display: inline-block;
    content: '*';
    color: red;
    margin-left: 3px;
}

header.main-header
{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

header .logo,
header .description
{
    display: inline-block;
}

header .logo img
{
    width: 200px;
    height: auto;
}

header .description
{
    font-size: 1.5em;
    color: #444;
}

header .right-side
{
    display: flex;
    align-items: center;
}

header .inline-item
{
    margin-left: 1em;
}

header .inline-item:not(:last-child)
{
    margin-right: 1em;
}

td, th
{
    padding-right: 16px;
}

.btn-bar
{
    margin: 1em 0;
}

.btn-action {
    color: white;
    background-color: #1A3873;
    padding: 10px;
    display: inline-block;
}

.btn-action:hover,
.btn-action:focus
{
    color: white;
    background-color: #43b9c2;
    text-decoration: none;
}

input:disabled, 
textarea:read-only,
[contenteditable]:read-only {
  pointer-events: none;
  background-color: #EBEBE4 !important;
  color: #444;
}

.default-output td
{
    padding-bottom: 0.5em;
}

footer
{
    font-size: 11px;
    text-align: center;
    padding: 5px 0;
    background-color: #ddd;
    margin-top: 1em;
}

footer p
{
    margin-bottom: 0;
}